.background-image {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
  filter: blur(0px) contrast(125%);
}

.nav-div {
  height: 40px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: linear-gradient(90deg, #967e1c, #cba91c), #cba91c;
}

.nav-heading {
  font-size: 1rem;
  font-family: Inter, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0;
  color: rgb(67,67,67);
  background: #ffffff;
  border-radius: 20px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 1px 2px 5px 2px rgb(143,131,25);
}

@media (max-width: 577px) {
  .product-container-mobile {
    visibility: visible;
    position: absolute;
    padding: 0;
    margin-top: 100px;
  }
}

.col-md-6.product-column {
  padding: 15px;
}

.row.product-row {
  width: 100%;
  margin: 0;
}

@media (max-width: 576px) {
  .product-main-div {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(105,105,105,0.25);
    box-shadow: 0px 0px rgb(58,65,71);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 300px;
  }
}

.product-main-div {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(105,105,105,0.25);
  box-shadow: 0px 0px rgb(58,65,71);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 300px;
}

@media (max-width: 577px) {
  .product-main-div {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(105,105,105,0.25);
    box-shadow: 0px 0px rgb(58,65,71);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 300px;
  }
}

.product-image {
  min-width: 220px;
  min-height: 220px;
  border-radius: 5px;
  object-fit: contain;
  max-width: 220px;
  max-height: 220px;
  box-shadow: 1px 1px 2px 2px rgb(74,73,71);
}

.product-name {
  font-size: 1.3rem;
  color: rgb(255,255,255);
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.specification-button {
  width: 220px;
  padding: 0;
  font-size: 0.9rem;
  color: #000000;
  text-align: center;
  font-weight: bold;
  height: 25px;
}

.order-button {
  padding: 0;
  width: 220px;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
}

.product-type-para {
  color: rgba(255,255,255,0.8);
  font-size: 0.7rem;
}

.product-column {
  padding: 15px;
}

.product-hr {
  width: 60%;
  margin-bottom: 0;
  background: #ffffff;
}

.main-heading {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}

.product-column {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

